# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/
dist/

# env files
.env
.env.local
.env.production
.env.prod

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Payload
public/media/*
!public/media/.gitkeep

# TypeScript
*.tsbuildinfo
next-env.d.ts
